.root {
    -fx-background-radius: 0 !important;
    -fx-background-radius: 0 !important;
}

.hbox-header {
    -fx-background-radius: 0 !important;
    -fx-border-radius: 0 !important;
}

.tab-pane {
    -fx-background-radius: 0 !important;
    -fx-background-radius: 0 !important;
}
