.root {
    -fx-background-radius: 0 !important;
    -fx-border-radius: 0 !important;
    -fx-background-color: #181818;
}

.border-pane {
    -fx-background-radius: 0 !important;
    -fx-border-radius: 0 !important;
    -fx-background-color: #181818;
    -fx-border-color: #1f1f1f;
    -fx-border-width: 0.5px;
}

.button {
    -fx-cursor: hand;
}

.hbox-header {
    -fx-background-radius: 0 !important;
    -fx-border-radius: 0 !important;
}

.tab-pane {
    -fx-background-radius: 0 !important;
    -fx-border-radius: 0 !important;
}
