.root {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: #181818;
    /* Per esempio, se vuoi uno sfondo bianco */
    -fx-border-color: #2b2b2b;
    -fx-border-width: 0.5px;
}

/* Per il BorderPane */
.border-pane {
    -fx-background-color: #181818;
    -fx-border-color: #1f1f1f;
    -fx-border-width: 0.5px;
}

/* Per i pulsanti */
.button {
    -fx-cursor: hand;
}