.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-insets: 0 0 0 0;
    -fx-border-radius: 0;
}

.tab-pane:top *.tab-header-area {
    -fx-padding: 0;
}

.tab-pane {
    -fx-background-color: #1f1f1f;
    -fx-border-color: #1f1f1f;
    -fx-border-width: 0.5px;
    -fx-background-radius: 0 0 10px 0;
    -fx-border-radius: 0 0 10px 0;
    -fx-padding: 0 0 0 0;
    -fx-tab-min-height: 30px;
}

.tab {
    -fx-background-color: #181818;
    -fx-color: white;
    -fx-translate-y: -1px;
    -fx-translate-x: -1px;
}

.tab:selected {
    -fx-background-color: #1f1f1f;
}

/* Per i Tab */
.tab-pane .tab-header-background {
    -fx-background-color: #1f1f1f;
    -fx-padding: 0 0 0 0;
}

.tab-pane .tab-label {
    -fx-text-fill: white;
}

/* Per il Label di benvenuto */
.label#welcomeLabel {
    -fx-font-size: 24;
    -fx-text-fill: white;
}