/* Stile principale per l'header */
header {
    text-align: center;
    padding: 1rem;
    background: var(--header-bg, #222);
    color: white;
    transition: background-color 0.3s ease;

    &.pdf-page {
        height: 5cap;
        background: var(--pdf-header-bg, #333);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .header-content {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;

        /* Header PDF to QCM dinamico */
        .pdf-header {
            position: absolute;
            left: 0;
            right: 0;
            top: -20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            .app-name {
                font-size: 2rem;
                color: white;
            }

            .current-page {
                color: #ddd;
                font-size: 2rem;
            }

            .home-button {
                img {
                    cursor: pointer;
                    width: 35px;
                    height: 35px;
                    transition: transform 0.2s ease;

                    &:hover {
                        transform: scale(1.1);
                        filter: invert(60%);
                    }
                }
            }
        }

        /* Header normale */
        .normal-header {
            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
                opacity: 0.7;
            }
        }
    }
}