<header [class.pdf-page]="isPdfToQcmPage">
    <div class="header-content">
        <!-- Header PDF to QCM -->
        <div *ngIf="isPdfToQcmPage; else normalHeader" class="pdf-header">
            <span class="app-name">Scriptagher</span>
            <span class="current-page">PDF to QCM</span>
            <div class="home-button" (click)="navigateHome()">
                <div class="home-button" (click)="navigateHome()">
                    <img src="/icons/icons8-home-64.png"/>
                  </div>                  
            </div>
        </div>

        <!-- Header normale -->
        <ng-template #normalHeader>
            <div class="normal-header">
                <h1>Welcome to the Bot List</h1>
                <p>Here is a list of available bots, organized by language.</p>
            </div>
        </ng-template>
    </div>
</header>