<div class="bot">
    <h3>{{ bot.botName }}</h3>
    <p>Description: {{ bot.description || 'No description available' }}</p>
    <p>Start Command <br>{{ bot.startCommand || 'No start commands provided' }}</p>

    <!-- Bottone "Vai al PDF to QCM" solo se il nome del bot è pdfToQCM -->
    <button *ngIf="bot.botName === 'pdf-to-qcm'" class="nav-link-button" (click)="navigateToPdfToQcm()">
        Vai al Converter PDF to QCM
    </button>



    <!-- Altri pulsanti dinamici esistenti -->
    <button (click)="openBot()">View Source</button>
    <button (click)="downloadBot()">Download</button>
</div>

<!-- pdfToQcm -->