<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Appender for BACK logs -->
        <RollingFile name="BackLogFile"
                     fileName="LOGS/${date:yyyy-MM-dd}/BASE-APP/BACK/scriptagher-backend_${date:yyyy-MM-dd_HH-mm-ss}.log"
                     filePattern="LOGS/${date:yyyy-MM-dd}/BASE-APP/BACK/scriptagher-backend_${date:yyyy-MM-dd_HH-mm-ss}-%i.log.gz">
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="LOGS/${date:yyyy-MM-dd}/BASE-APP/BACK/" maxDepth="2">
                    <IfFileName glob="*.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Appender for FRONT logs -->
        <RollingFile name="FrontLogFile"
                     fileName="LOGS/${date:yyyy-MM-dd}/BASE-APP/FRONT/scriptagher-frontend_${date:yyyy-MM-dd_HH-mm-ss}.log"
                     filePattern="LOGS/${date:yyyy-MM-dd}/BASE-APP/FRONT/scriptagher-frontend_${date:yyyy-MM-dd_HH-mm-ss}-%i.log.gz">
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="LOGS/${date:yyyy-MM-dd}/BASE-APP/FRONT/" maxDepth="2">
                    <IfFileName glob="*.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Appender for DATA logs -->
        <RollingFile name="DataLogFile"
                     fileName="LOGS/${date:yyyy-MM-dd}/BASE-APP/DATA/scriptagher-data_${date:yyyy-MM-dd_HH-mm-ss}.log"
                     filePattern="LOGS/${date:yyyy-MM-dd}/BASE-APP/DATA/scriptagher-data_${date:yyyy-MM-dd_HH-mm-ss}-%i.log.gz">
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="LOGS/${date:yyyy-MM-dd}/BASE-APP/DATA/" maxDepth="2">
                    <IfFileName glob="*.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="GeneralLogFile"
                     fileName="LOGS/${date:yyyy-MM-dd}/BASE-APP/GENERAL/scriptagher-general_${date:yyyy-MM-dd_HH-mm-ss}.log"
                     filePattern="LOGS/${date:yyyy-MM-dd}/BASE-APP/GENERAL/scriptagher-general_${date:yyyy-MM-dd_HH-mm-ss}-%i.log.gz">
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="LOGS/${date:yyyy-MM-dd}/BASE-APP/GENERAL/" maxDepth="2">
                    <IfFileName glob="*.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>

    <Loggers>
        <!-- Logger per i log del componente BACK -->
        <Logger name="com.scriptagher.backend" level="DEBUG" additivity="false">
            <AppenderRef ref="BackLogFile"/>
        </Logger>

        <!-- Logger per i log del componente FRONT -->
        <Logger name="com.scriptagher.front" level="DEBUG" additivity="false">
            <AppenderRef ref="FrontLogFile"/>
        </Logger>

        <!-- Logger per i log del componente DATA -->
        <Logger name="com.scriptagher.data" level="DEBUG" additivity="false">
            <AppenderRef ref="DataLogFile"/>
        </Logger>

        <!-- Logger per log generali -->
        <Logger name="com.scriptagher.general" level="DEBUG" additivity="false">
            <AppenderRef ref="GeneralLogFile"/>
        </Logger>

        <!-- Logger radice -->
        <Root level="ERROR"> <!-- Cambia qui in DEBUG per assicurarti che tutto sia loggato -->
            <AppenderRef ref="GeneralLogFile"/>
        </Root>
    </Loggers>


</Configuration>