<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Appender for BACK logs -->
        <RollingFile name="BackLogFile"
                     fileName="LOGS/${date:yyyy-MM-dd}/BASE-APP/BACK/self-manager-backend_${date:yyyy-MM-dd_HH-mm-ss}.log"
                     filePattern="LOGS/${date:yyyy-MM-dd}/BASE-APP/BACK/self-manager-backend_${date:yyyy-MM-dd_HH-mm-ss}-%i.log.gz">
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="LOGS/${date:yyyy-MM-dd}/BASE-APP/BACK/" maxDepth="2">
                    <IfFileName glob="*.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Appender for FRONT logs -->
        <RollingFile name="FrontLogFile"
                     fileName="LOGS/${date:yyyy-MM-dd}/BASE-APP/FRONT/self-manager-frontend_${date:yyyy-MM-dd_HH-mm-ss}.log"
                     filePattern="LOGS/${date:yyyy-MM-dd}/BASE-APP/FRONT/self-manager-frontend_${date:yyyy-MM-dd_HH-mm-ss}-%i.log.gz">
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="LOGS/${date:yyyy-MM-dd}/BASE-APP/FRONT/" maxDepth="2">
                    <IfFileName glob="*.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Appender for DRIVER logs -->
        <RollingFile name="DriverLogFile"
                     fileName="LOGS/${date:yyyy-MM-dd}/BASE-APP/DRIVER/self-manager-driver_${date:yyyy-MM-dd_HH-mm-ss}.log"
                     filePattern="LOGS/${date:yyyy-MM-dd}/BASE-APP/DRIVER/self-manager-driver_${date:yyyy-MM-dd_HH-mm-ss}-%i.log.gz">
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="LOGS/${date:yyyy-MM-dd}/BASE-APP/DRIVER/" maxDepth="2">
                    <IfFileName glob="*.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Appender for DB logs -->
        <RollingFile name="DbLogFile"
                     fileName="LOGS/${date:yyyy-MM-dd}/BASE-APP/DB/self-manager-database_${date:yyyy-MM-dd_HH-mm-ss}.log"
                     filePattern="LOGS/${date:yyyy-MM-dd}/BASE-APP/DB/self-manager-database_${date:yyyy-MM-dd_HH-mm-ss}-%i.log.gz">
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="LOGS/${date:yyyy-MM-dd}/BASE-APP/DB/" maxDepth="2">
                    <IfFileName glob="*.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="GeneralLogFile"
                     fileName="LOGS/${date:yyyy-MM-dd}/BASE-APP/GENERAL/self-manager-general_${date:yyyy-MM-dd_HH-mm-ss}.log"
                     filePattern="LOGS/${date:yyyy-MM-dd}/BASE-APP/GENERAL/self-manager-general_${date:yyyy-MM-dd_HH-mm-ss}-%i.log.gz">
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="LOGS/${date:yyyy-MM-dd}/BASE-APP/GENERAL/" maxDepth="2">
                    <IfFileName glob="*.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>

    <Loggers>
        <!-- Logger per i log del componente BACK -->
        <Logger name="com.self.self_project.back" level="DEBUG" additivity="false">
            <AppenderRef ref="BackLogFile"/>
        </Logger>

        <!-- Logger per i log del componente FRONT -->
        <Logger name="com.self.self_project.front" level="DEBUG" additivity="false">
            <AppenderRef ref="FrontLogFile"/>
        </Logger>

        <!-- Logger per i log del componente DRIVER -->
        <Logger name="com.self.self_project.driver" level="DEBUG" additivity="false">
            <AppenderRef ref="DriverLogFile"/>
        </Logger>

        <!-- Logger per i log del componente DB -->
        <Logger name="com.self.self_project.db" level="DEBUG" additivity="false">
            <AppenderRef ref="DbLogFile"/>
        </Logger>

        <!-- Logger per log generali -->
        <Logger name="com.self.self_project.general" level="DEBUG" additivity="false">
            <AppenderRef ref="GeneralLogFile"/>
        </Logger>

        <!-- Logger radice -->
        <Root level="ERROR"> <!-- Cambia qui in DEBUG per assicurarti che tutto sia loggato -->
            <AppenderRef ref="GeneralLogFile"/>
        </Root>
    </Loggers>


</Configuration>