<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="BackLogFile"
                     fileName="LOGS/${date:yyyy-MM-dd}/BASE-APP/BACK/scriptagher-backend_${date:yyyy-MM-dd_HH-mm-ss}.log"
                     filePattern="LOGS/${date:yyyy-MM-dd}/BASE-APP/BACK/scriptagher-backend_${date:yyyy-MM-dd_HH-mm-ss}-%i.log.gz">
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="LOGS/${date:yyyy-MM-dd}/BASE-APP/BACK/" maxDepth="2">
                    <IfFileName glob="*.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="FrontLogFile"
                     fileName="LOGS/${date:yyyy-MM-dd}/BASE-APP/FRONT/scriptagher-frontend_${date:yyyy-MM-dd_HH-mm-ss}.log"
                     filePattern="LOGS/${date:yyyy-MM-dd}/BASE-APP/FRONT/scriptagher-frontend_${date:yyyy-MM-dd_HH-mm-ss}-%i.log.gz">
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="LOGS/${date:yyyy-MM-dd}/BASE-APP/FRONT/" maxDepth="2">
                    <IfFileName glob="*.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="DataLogFile"
                     fileName="LOGS/${date:yyyy-MM-dd}/BASE-APP/DATA/scriptagher-data_${date:yyyy-MM-dd_HH-mm-ss}.log"
                     filePattern="LOGS/${date:yyyy-MM-dd}/BASE-APP/DATA/scriptagher-data_${date:yyyy-MM-dd_HH-mm-ss}-%i.log.gz">
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="LOGS/${date:yyyy-MM-dd}/BASE-APP/DATA/" maxDepth="2">
                    <IfFileName glob="*.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="GeneralLogFile"
                     fileName="LOGS/${date:yyyy-MM-dd}/BASE-APP/GENERAL/scriptagher-general_${date:yyyy-MM-dd_HH-mm-ss}.log"
                     filePattern="LOGS/${date:yyyy-MM-dd}/BASE-APP/GENERAL/scriptagher-general_${date:yyyy-MM-dd_HH-mm-ss}-%i.log.gz">
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="LOGS/${date:yyyy-MM-dd}/BASE-APP/GENERAL/" maxDepth="2">
                    <IfFileName glob="*.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.scriptagher.back" level="info" additivity="false">
            <AppenderRef ref="BackLogFile"/>
        </Logger>
        <Logger name="com.scriptagher.front" level="info" additivity="false">
            <AppenderRef ref="FrontLogFile"/>
        </Logger>
        <Logger name="com.scriptagher.data" level="info" additivity="false">
            <AppenderRef ref="DataLogFile"/>
        </Logger>
        <Logger name="com.scriptagher.general" level="info" additivity="false">
            <AppenderRef ref="GeneralLogFile"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="GeneralLogFile"/>
        </Root>
    </Loggers>
</Configuration>