.head-btn {
    -fx-background-color: #1e1e1e;
    -fx-padding: 4px 0 0 0;
}

.head-btn:hover {
    -fx-opacity: 0.3;
}

.close-btn {
    -fx-padding: 4px 8px 0 0;
}


.menu-btn {
    -fx-background-color: #373837;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-padding: 8px;
    -fx-pref-width: 250px;
    -fx-pref-height: 60px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.menu-btn:hover {
    -fx-background-color: #454545
}

.menu-btn:disabled {
    -fx-background-color: gray;
    -fx-text-fill: white;
}