.header {
    -fx-alignment: center-right;

    -fx-background-color: #1e1e1e;
    -fx-border-color: #2e2e2e;
    -fx-border-width: 1px 1px 0 1px;
    -fx-border-radius: 13px 13px 0 0;
    -fx-border-style: solid;

    background-color: #1e1e1e;
    border-color: #2e2e2e;
    border-width: 1px 1px 0 1px;
    border-radius: 13px 13px 0 0;
    border-style: solid;
}